html {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;

    background: black;

    font-size: 24pt;

    height: 100%;
}

a {
    display: flex;
    align-items: center;

    text-decoration: none;

    text-shadow: white 2px 2px 5px;

    opacity: .75;
}

a:hover {
    opacity: 1;
    
    font-size: 28pt;
}

ul {
    list-style-type: none;

    width: 100%;
}

li {
    color: #b3b3b3;

    cursor: pointer;
    width: 100%;

    text-align: center;
}

li:hover {
    background: #282828;
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(29, 29, 29);
    }
}

@media (prefers-color-scheme: light) {
    body {
        background: rgb(216, 216, 216);
    }
}