@media (max-width: 668px) {
    body {
        box-shadow: none;
        border-radius: 0;
    }

    #keyboard {
        justify-content: center;
        width: 100%;
    }

    .mobile-keyboard {
        display: flex !important;
        justify-content: center;

        margin-bottom: 10px;
        gap: 5px;
    }

    .desktop-keyboard {
        display: none !important;
    }
}

#mobile-keyboard {
    display: none;
    justify-content: space-between;

    width: 100%;
    height: 100px;
}